.navbar{
    display: flex;
}
.navbar-brand{
    font-weight: bolder;
}
.collapse{
    justify-content: right;
    font-weight: bold;
}
.button-signout{
    border-radius: 20px;
    background-color: #febc1d;
}
content-area {
    position: relative;
    z-index: 1;
    padding: 40px;
    box-shadow: 0 4px 20px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition-duration: 500ms;
    background-color: #ffffff;
  }
  .text-center {
    text-align: center !important;
  }
  
  .team-content-area .member-thumb {
    margin: 0 auto 40px;
    width: 165px;
  }
  
  .team-content-area:hover h5,
  .team-content-area:hover span,
  .team-content-area:focus h5,
  .team-content-area:focus span {
    color: #ffffff;
  }
  .team-content-area h5 {
    transition-duration: 500ms;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
  }
  
  .team-content-area:hover,
  .team-content-area:focus {
    background-color: #fc6060;
  }
  
  .team-content-area:hover .member-thumb img,
  .team-content-area:focus .member-thumb img {
    transform: rotate(35deg);
  }
  .team-content-area .member-thumb img {
    transition-duration: 500ms;
    width: 100%;
    border-radius: 50%;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .team-content-area .member-social-info {
    position: relative;
    z-index: 1;
    margin-top: 30px;
  }
  
  .team-content-area .member-social-info a {
    color: #636363;
    font-size: 16px;
    margin: 0 10px;
    transition-duration: 500ms;
  }
  .team-content-area .member-social-info a:hover {
    color: #f9f9f9;
  }  
  body{
    background-image: url("ot.jpg");
}